
<form #BookingForm="ngForm" >   
  <h2 class="text-center text-primary"> Edit the detials</h2>
  <hr>



  <div class="form-group">
    <input type="text" class="form-control" required name="title"  placeholder="{{bookings.title}}">
  </div>
  
  <h4>Title</h4>
    <textarea name="introduction"  rows="6" class="form-control"  
    [(ngModel)]="bookings.title" ></textarea>


  <div class="form-group">
    <input type="date" class="form-control" required name="date"  placeholder="date">
  </div>

  <div class="form-group">
    <input type="Request" class="form-control" required name="Request" placeholder="Request">
  </div>
  
 


  <div class="form-group">
    <input type="NoPeople" class="form-control"required name ="NoPeople" placeholder="No of people">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Edit </button>
    <button class="btn btn-default" type="button">Cancel</button>
  </div>      
</form>

