<!-- 
<p>{{customerId}}</p>
<p>{{bookings.AdditionalInfo}}</p> -->

<!-- <p>{{bookings.customerId}} customer Id</p>
<p>{{bookings.id}} id in databse</p>
<p>{{bookings.date}}</p>
<p>{{bookings.additionalInfo}}</p> -->

<form [formGroup]="BookComplete" (ngSubmit)="Book()"> 

  <h2 class="text-center text-primary">Booking now</h2>

  <div class="form-group">
    <input formControlName="date" type="date" class="form-control" placeholder="date">
  </div>
  
 <div class="form-group">
  <select formControlName="hour">
    <option *ngFor="let hourpicker of hourpickers"
      [value]="hourpicker">
      {{hourpicker}}
    </option>
  </select>
  <label>o' clock</label>
  
 </div>

 <div class="form-group">
  <label>Number of People</label>
  <select formControlName="noPeople" class="form-control">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
</div>


  <div class="form-group">
    <label>Table Number</label>
    <select formControlName="tableNumber" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
  
  <label>Additional Information</label>
  <div class="form-group">
    <input formControlName="additionalInfo" class="form-control" placeholder="AdditionalInfo">
  </div>

 
  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Book</button>
  </div>      
</form> 





